[Unit]
Description=Runs Sailing Database Update
Wants=sailing-database.timer

[Service]
ExecStart=<EXEPATH>/sailingdb
WorkingDirectory=<DATAPATH>
User=<USER>

[Install]
WantedBy=multi-user.target
