[Unit]
Description=Runs Sailing Database Update
Wants=sailing-database.timer

[Service]
ExecStart=<EXEPATH>/race_signup_db
WorkingDirectory=<DATAPATH>

[Install]
WantedBy=multi-user.target
